.red-circle {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background: #BC002D;
    
    /*  Step 1
    Instead of 4 lines below, I have
    written 1 line using the margin shorthand 
    (see in the end of this comment):
    
    Pervious code:
    margin-top: 40px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 100px;

    New code:
    margin: 40px 0px 0px 100px;
    */

     /* Step 2
    Instead of 4 lines below, I have
    written 2 lines using the margin shorthand 
    (see it after this comment):
    
    Pervious code:
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;

    New code:
    */
    margin: 40px auto;
}