body {
    text-align: center;
    font-family: 'Concert One', cursive;
}

img {
    border: 3px solid red;
}

input {
    width: 400px;
    height: 50px;
    border: 3px solid black;
    text-align: center;
}

input[type="text"] {
    font-size:24px;
}

button {
    width: 410px;
    height: 60px;
    border: 3px solid black;
    background-color: black;
    color: white;
}

#join-button {
    font-size: 24px;
}

#main-header {
    font-size: 70px;
}

#main-text {
    font-size: 24px;
    font-style: italic;
    width: 700px;
    margin: 20px auto 50px auto;
}

#text-bottom {
    font-size: 24px;
    font-style: italic;
}
