body {
    color: #020202;
    font-family: 'Open Sans', sans-serif;
}

p.normal {
    font-weight: normal;
}

p.thick {
    font-weight: bold;
}

.hero {
    border: 2px solid black;
    background-image: url("img/faded-office.png");
    background-size: cover;
    padding: 50px 50px 150px 50px;
}

.hero-header {
    font-size: 24px;
    line-height: 15px;
}

.hero-text {
    font-size: 20px;
    margin: 80px 0px 80px 0px;
    line-height: 10px;
}

.underline {
	border-bottom: 4px solid #0ea5e9;
}

.button {
    background-color: #0ea5e9;
    color: white;
    padding: 20px 60px;
    border: none;
    font-size: 20px;
}
