body {
    margin: 0;
    text-align: center;
    color: #020202;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 150px;
}

.text_highlight {
    background-color: #ec0023;
    padding: 0px 20px 0px 20px;
}

.text_underline {
    border-bottom: 2px solid rgb(255, 0, 0);
}

.hero_section {
    background-image: url("images/bern-welcome-picture.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px 120px 0px;
    line-height: 31px;
}

.hero_header {
    color: white;
    text-shadow: 0px 0px 20px #020202;
    width: 450px;
}

.hero_subheader {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 20px;
    padding: 0px 0px 10px 0px;
}

.activities_section {
    display: flex;
    justify-content: space-around;
}

.picture_header {
    font-weight: bold;
    border: 2px solid #ec0023;
}

.picture_description_text {
    width: 150px;
}

.guide_section {
    width: 80%;
    margin: 0px auto;
}

.quotation {
    color: white;
    font-weight: bold;
    font-style: italic;
    background-color: #5b5549be;
    width: 400px;
    border-radius: 20px;
    padding: 20px 0px 20px 0px;
    margin: 0px auto;
}

.business_card {
    background: #ec0023;
    color: white;
    border-bottom: 20px solid #020202;
    width: 350px;
    margin: 0 auto 100px auto;
    padding: 20px 15px 15px 15px;
    display: flex;
    justify-content: space-around;
}

.image_avatar {
    width: 120px;
}

.column_left {
    text-align: center;
}

.column_right {
    text-align: right;
    text-shadow: 0px 0px 10px #020202;
}