/*
This is a CSS file 
for the Google page 
project
*/

.main-div {
    margin-top: 100px;
}

.logo-img {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    display: block;
    width: 400px;
    margin-top: 25;
    margin-left: auto;
    margin-right: auto;
}

.search-buttons {
    margin-top: 20px;
}
